@font-face {
    font-display: swap;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Bellefair', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bellefair-v14-latin-regular.woff2') format('woff2');
}

*{
    box-sizing: border-box;
}
.containers{
    max-width: 1147px;
    margin: 0 auto;
    padding: 0 20px;
}
body{
    font-family: "Bellefair", serif;
    font-family: "Barlow", sans-serif;
    background-image: url(../images/header-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.navbar-bg{
    backdrop-filter: blur(81.54845428466797px);
    background: rgba(255, 255, 255, 0.04);

}
.change-font{
    font-family: "Bellefair", serif !important;
}
.navbar{
    backdrop-filter: blur(81.54845428466797px);
    background: #FFFFFF0A;
}